.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 15px;
  box-sizing: border-box;
}

.website-input {
  display: flex;
  flex-direction: column;
  background: white;
  margin: 15px;
  padding: 20px;
  box-shadow: 0 1px 3px 0 rgba(0,0,0,0.04);
  border: 1px solid #EAEDF3;
  border-radius: 4px;

  form {
    display: flex;
    width: 100%;
    margin-top: 10px;
    flex-direction: column;

    .input-group {
      display: flex;
      width: 100%;
      margin-top: 10px;
    }
  }
}

.loading {
  display: flex;
  color: #8d8d8d;
  align-items: center;
  transition: 200ms ease-in;
  margin: 15px;
  padding: 20px;
  box-shadow: 0 1px 3px 0 rgba(0,0,0,0.04);
  border: 1px solid #EAEDF3;
  border-radius: 4px;
  background: white;

  p {
    color: #3E3F42;
  }

  .loader-icon {
    width: 25px;
    height: 25px;
    background-color: #9EA0A5;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    margin-right: 20px;
  }

  img {
    height: 25px;
  }
}

.results {
  display: flex;
  flex-direction: column;
  background-color: white;
  margin: 15px;
  box-shadow: 0 1px 3px 0 rgba(0,0,0,0.04);
  border: 1px solid #EAEDF3;
  border-radius: 4px;
  padding: 20px;

  h2 {
    margin: 0;
    font-weight: 500;
    font-size: 18px;
  }

  h3 {
    margin: 0;
    font-weight: 500;
    font-size: 16px;
    margin-top: 20px;
  }

  .meta {
    display: flex;
    margin-top: 20px;
  }

  .meta span {
    padding: 3px 10px;
    color: white;
    border-radius: 2px;
    font-size: 12px;
    margin-right: 10px;
  }

  .new {
    background-color: #34AA44;
  }

  .existing {
    background-color: #9EA0A5;
  }

  .data {
    width: 100%;
    display: flex;

    .left, .right {
      width: 50%;
    }

    img {
      max-width: 100%;
    }
  }

  @media only screen and (max-width: 767px) {
    .data {
      flex-direction: column;

      .left, .right {
        width: 100%;
      }
    }
  }
}
