<agm-map [zoom]="zoom" [fitBounds]="latlngBounds" *ngIf="!loading && trashcans.length > 0" >
  <agm-marker *ngFor="let trashcan of trashcans" [iconUrl]="calculateStatus(trashcan.filled_up)" [latitude]="trashcan.lat" [longitude]="trashcan.long">
    <agm-polygon [paths]="areas" [fillOpacity]="fillOpacity" [fillColor]="fillColor" [strokeColor]="strokeColor" [strokeOpacity]="strokeOpacity"></agm-polygon>

    <agm-info-window>
      <div class="trashcan-info">
        <h3>Trashcan #{{trashcan.id}}</h3>

        <p>{{trashcan.filled_up}}% full</p>

        <a class="trashcan-info-button" routerLink="/map/{{trashcan.id}}">More details</a>
      </div>
    </agm-info-window>
  </agm-marker>
</agm-map>

<div class="map-information" *ngIf="!loading && trashcans.length === 0">
  <p>No trashcans found.</p>
</div>

<div class="map-information" *ngIf="loading">
  <i class="fa fa-circle-o-notch fa-spin fa-2x fa-fw"></i>
  <p>Loading data for map...</p>
</div>
