<div class="container">
  <div class="login">

    <div class="logo">
      <img src="./../assets/images/icon-svg.svg" alt="Webshop Checker" width="125">

      <p class="sub-title">Log In</p>
    </div>

    <form [formGroup]="loginForm" (ngSubmit)="login()">
      <div class="username">
        <input type="text" placeholder="Username" formControlName="username">
      </div>

      <div class="password">
        <input type="password" placeholder="Password" formControlName="password">
      </div>

      <p class="error" *ngIf="error">{{error}}</p>

      <input type="submit" class="button" value="Log In" [disabled]="loginForm.invalid">
    </form>
  </div>
</div>
