<div class="container">
  <div class="login">

    <div class="logo">
      <img src="./../assets/images/smart-trashcan-logo.svg" alt="Smart Trashcan" width="125">

      <p class="sub-title">Log In</p>
    </div>

    <div class="username">
      <input type="text" placeholder="Username">
    </div>

    <div class="password">
      <input type="password" placeholder="Password">
    </div>

    <p class="error">This combination between username and password was not found.</p>

    <button routerLink="/map">Inloggen</button>
  </div>
</div>
