.container {
  align-items: center;
  justify-content: center;

  .login {
    padding: 30px;
    display: flex;
    flex-direction: column;
    background-color: white;
    border: 1px solid #EAEDF3;
    border-radius: 4px;

    .logo {
      display: flex;
      flex-direction: column;
      width: 100%;
      align-items: center;
      margin-bottom: 20px;
    }

    .sub-title {
      align-self: center;
      margin: 20px 0 0 0;
      color: #3E3F42;
      font-size: 18px;
    }

    input {
      height: 38px;
      border: 1px solid #E2E5ED;
      min-width: 300px;
      margin-top: 10px;
      border-radius: 4px;
      padding: 0 5px;
      font-size: 16px;
      color: #3E3F42;

      &::placeholder {
        color: #BCBCBC;
      }
    }

    .username, .password {
      display: flex;
      flex-direction: column;
    }

    label {
      color: #9EA0A5;
      margin-top: 10px;
      font-size: 12px;
    }

    input[type='submit'].button {
      background: linear-gradient(45deg, #34AA44, #38B249);
      color: white;
      border-radius: 4px;
      border: #2D9C3C 1px solid;
      min-height: 50px;
      margin-top: 10px;
      font-size: 14px;
      cursor: pointer;
      font-weight: 700;
      width: 100%;

      &:hover {
        background: linear-gradient(45deg, darken(#34AA44, 5%), darken(#38B249, 5%));
      }

      &:disabled {
        background: linear-gradient(45deg, lighten(#34AA44, 50%), lighten(#38B249, 50%));
        border: lighten(#2D9C3C, 50%) 1px solid;
      }
    }

    .error {
      width: 100%;
      color: #E6492D;
      max-width: 300px;
      margin: 20px 0 10px 0;
    }
  }
}
