<div class="container">
  <div class="login">

    <div class="logo">
      <img src="./../assets/images/icon-svg.svg" alt="Webshop Checker" width="125">

      <p class="sub-title">LOGIN</p>
    </div>

    <form [formGroup]="loginForm" (ngSubmit)="login()">
      <div class="username">
        <label for="username">USERNAME</label>
        <input id="username" type="text" placeholder="username" formControlName="username">
      </div>

      <div class="password">
        <label for="password">PASSWORD</label>
        <input id="password" type="password" placeholder="password" formControlName="password">
      </div>

      <p class="error" *ngIf="error">{{error}}</p>

      <input type="submit" class="button" value="Log In" [disabled]="loginForm.invalid">
    </form>
  </div>
</div>
