<!--
<div *ngFor="let mytrash of this.coordinates" class="panel panel-default message">
    <div class="panel-body message-body">
      <div class="message-image-block">
        <div class="message-image">
          <img src="https://maps.googleapis.com/maps/api/staticmap?center={{mytrash.startLat}},{{mytrash.startLng}}&path=color:0xff0000ff|weight:5|{{mytrash.startLat}},{{mytrash.startLng}}|{{mytrash.endLat}},{{mytrash.endLng}}&zoom=15&size=125x125&key={{googleAPIKey}}" alt="Kaart">
        </div>
      </div>
</div>

<div *ngFor="let mytrash of this.coordinates" class="knoppen">
  <button type="button" id="but">{{mytrash.letter}}</button>
</div>
 -->
<div class="content">



     <div class="deskt">
       <div *ngFor="let mytrash of this.coordinates">
         <a class="range-button" (click)=select(mytrash)>
           <p>{{mytrash.letter}}</p>
         </a>
         <!--<button type="button" id="but" (click)=select(mytrash)>{{mytrash.letter}}</button> -->
       </div>
     </div>

    <div class="desk">
        <app-routemap *ngIf="showmap" [info]="routeSteps"></app-routemap>
    </div>

</div>
