<div class="content">
   <div class="deskt">
       <div *ngFor="let mytrash of this.coordinates">
         <a class="range-button" [class.range-button2]="mytrash.letter == routeSteps.letter" (click)=select(mytrash)>
           <p *ngIf="mytrash.letter">{{mytrash.letter}}</p>
         </a>

         <div class="deskmobile" *ngIf="routeSteps == mytrash && showmap">
             <app-routemap [info]="routeSteps" [zoom]="19"></app-routemap>
         </div>
       </div>
     </div>

    <div class="desk">
        <app-routemap *ngIf="showmap" [info]="routeSteps" [zoom]="17"></app-routemap>
    </div>
</div>
