<aside>
  <div class="sidebar-container">
    <a routerLink="/check" class="logo">
      <img src="./../assets/images/icon-svg.svg" alt="Webshop Checker" width="125">
    </a>

    <p class="sub-title">webshop checker admin</p>

    <div class="menu">
      <a class="menu-item" routerLink="/check" routerLinkActive="active">
        <span class="menu-item-content">
          <i class="fa fa-check-circle"></i>
          <span class="menu-button-text">Check Website</span>
        </span>
      </a>
    </div>
  </div>
</aside>
