aside {
  height: 100%;
  width: 20%; /* Omdat het een fixed element is moet je weer het juiste percentage meegeven. */
  position: fixed;
  top: 0;
  z-index: 9;
  background-color: white;
}

.sidebar-container {
  display: flex;
  flex-direction: column;
  border-right: 1px solid #EAEDF3;
  height: 100%;
  width: 100%;
  z-index: 9;
  position: relative;

  .logo {
    align-self: center;
    padding-top: 50px;
    width: 125px;
  }

  .sub-title {
    align-self: center;
    margin: 0;
    color: #3E3F42;
    font-weight: 500;
    padding: 10px;
  }
}

.menu {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
}

.menu-title {
  margin-bottom: 10px;
  margin-left: 30px;
  color: #9EA0A5;
  font-size: 12px;
}

.menu-item {
  height: 46px;
  display: flex;
  flex-direction: column;
  text-decoration: none;
  justify-content: center;
  border-left: 3px solid transparent;

  &.active {
    background-color: #F6F9FD;
    border-left: 3px solid #1665D8;

    .menu-item-content i {
      color: #1665D8;
    }
  }

  &:hover {
    background: #E2E5ED;
  }
}

.menu-item-content {
  padding-left: 30px;
  display: flex;
  color: #3b3b3b;
  box-sizing: border-box;
  align-items: center;

  .menu-button-text {
    font-size: 14px;
    margin: 0;
    font-weight: 500;
    padding-left: 20px;
  }

  i {
    font-size: 20px;
    min-width: 25px;
    display: flex;
    justify-content: center;
    color: #9EA0A5;
  }
}
