<aside>
  <div class="sidebar-container">
    <a routerLink="/map" class="logo">
      <img src="./../assets/images/smart-trashcan-logo.svg" alt="Smart Trashcan" width="125">
    </a>

    <p class="sub-title">trash management</p>

    <div class="menu">
      <a class="menu-item" routerLink="/map" routerLinkActive="active">
      <span class="menu-item-content">
        <i class="fa fa-map-o"></i>
        <span>Map</span>
      </span>
      </a>


      <a class="menu-item" routerLink="/analytics" routerLinkActive="active">
      <span class="menu-item-content">
        <i class="fa fa-area-chart"></i>
        <span>Analytics</span>
      </span>
      </a>

      <a class="menu-item" routerLink="/route" routerLinkActive="active">
      <span class="menu-item-content">
        <i class="fa fa-map-marker"></i>
        <span>Route</span>
      </span>
      </a>
    </div>
  </div>
</aside>
