<div class="container">
  <div class="row">
    <div class="card third border_left">
      <span class="label">TOTAL WEBSHOPS</span>
      <span class="main">{{total}}</span>
    </div>

    <div class="card third border_left border_green">
      <span class="label">GOOD WEBSHOPS</span>
      <span class="main">{{good}}</span>
    </div>

    <div class="card third border_left border_red">
      <span class="label">POTENTIALLY FAKE WEBSHOPS</span>
      <span class="main">{{fake}}</span>
    </div>
  </div>
</div>
