.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
}

.row {
  display: flex;
  width: 100%;
}

.label {
  color: #9EA0A5;
  font-size: 12px;
}

.main {
  font-size: 26px;
  color: #3E3F42;
  margin: 0;
  padding-top: 10px;
}

.third {
  width: 33%;
}

.border_left {
  border-left: 3px solid #1461D2;
}

.border_red {
  border-left: 3px solid #E6492D;
}

.border_green {
  border-left: 3px solid #2D9C3C;
}

.total {
  display: flex;
  flex-direction: column;
  background-color: #2a4d69;
  color: white;

  span {
    font-size: 28px;
    padding: 10px;
  }

  p {
    margin: 0;
    background-color: #adcbe3;
    color: #3b3b3b;
    padding: 10px;
  }
}
