@import "../../assets/scss/_variables";

header {
  height: 60px;
  background-color: white;
  box-shadow: 8px 0 10px 0 rgba(0,0,0,0.3);
  z-index: 2;
  position: relative;
  display: flex;

  a {
    margin-left: auto;
    height: 100%;
    padding: 0 20px;
    background-color: $button-color;
    border: none;
    color: #3b3b3b;
    font-size: 14px;
    display: flex;
    text-decoration: none;

    i {
      font-size: 14px;
      padding-left: 8px;
      align-self: center;
    }

    p {
      align-self: center;

    }

    &:hover {
      background-color: darken(lightgray, 5%);
    }
  }
}
