@import "../../assets/scss/_variables";

.topmenu-container {
  position: fixed;
  top: 0;
  height: 60px;
  width: 80%; /* Omdat het een fixed element is moet je weer het juiste percentage meegeven. */
  z-index: 7;
}

header {
  height: 60px;
  background-color: white;
  box-shadow: 8px 0 10px 0 rgba(0, 0, 0, 0.3);
  z-index: 8;
  position: relative;
}

.desktop {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;

  .account {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 20px;

    p {
      font-size: 14px;
    }

    img {
      margin-left: 10px;
      border-radius: 50%;
    }
  }

  .logout {
    height: 100%;
    padding: 0 20px;
    background-color: $button-color;
    border: none;
    color: #3b3b3b;
    font-size: 14px;
    display: flex;
    text-decoration: none;

    i {
      font-size: 14px;
      padding-left: 8px;
      align-self: center;
    }

    p {
      align-self: center;

    }

    &:hover {
      background: linear-gradient(45deg, #f4f4f4, #ececec);
    }
  }
}

.mobile {
  align-items: center;
  color: #3b3b3b;

  .logo {
    padding-left: 18px;
    padding-top: 6px;
  }

  .sub-title {
    padding-left: 15px;
    font-size: 14px;
  }

  .menu {
    display: flex;
    flex-direction: row;
    margin-left: auto;
    padding: 0 20px;
    height: 100%;
    align-items: center;
    cursor: pointer;

    &:hover {
      background-color: $button-color;
    }

    p {
      padding-right: 7px;
      margin: 0;
    }

    i {
      font-size: 25px;
    }
  }
}

/* De grijze achtergrond als het menu open staat */
.menuOverlay {
  display: none;
  opacity: 0;

  &.opened {
    display: flex;
    height: 100%;
    width: 100%;
    opacity: 0.2;
    background-color: black;
    position: fixed;
    top: 0;
    z-index: 10;
    transition: .5s ease-in;
  }
}

.sidenav {
  height: 100%;
  width: 300px;
  position: fixed;
  z-index: 11;
  top: 0;
  right: -350px;
  background-color: white;
  overflow-x: hidden;
  transition: 0.3s;
  box-shadow: -4px 0 10px 0 rgba(0, 0, 0, 0.40);

  &.opened {
    right: 0;
    transition: .4s ease-out;
    opacity: 1;
  }

  .account {
    display: flex;
    flex-direction: column;
    align-items: center;

    img {
      border-radius: 50%;
      margin: 20px 0 10px 0;
    }

    p {
      font-size: 16px;
      margin: 0 0 20px 0;
    }
  }

  .close-menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 20px;
    cursor: pointer;
    height: 60px;

    &:hover {
      background-color: darken($button-color, 10%);
    }

    i {
      font-size: 25px;
    }

    p {
      padding-left: 10px;
    }
  }

  .menu {
    .menu-item {
      height: 100px;
      width: 100%;
      display: flex;
      flex-direction: column;
      text-decoration: none;

      &.active {
        background-color: $button-color;
      }

      &:hover {
        background: linear-gradient(45deg, #f4f4f4, #ececec);
      }

      .menu-item-content {
        margin-top: 20px;
        align-self: center;
        display: flex;
        flex-direction: column;
        color: #3b3b3b;

        span, i {
          align-self: center;
        }

        span {
          font-size: 20px;
          margin: 0;
          padding: 10px;
          font-weight: 600;
        }

        i {
          font-size: 22px;
        }
      }
    }
  }
}

/* DESKTOP */
@media only screen and (min-width: 767px) {
  .desktop {
    display: flex;
  }

  .mobile {
    display: none;
  }
}

/* TABLET */
@media only screen and (max-width: 767px) {
  .topmenu-container {
    width: 100%;
  }

  .desktop {
    display: none;
  }

  .mobile {
    display: flex;
  }
}
