<div class="topmenu-container">
  <!-- De desktop header -->
  <header class="desktop">
    <a routerLink="/login" class="logout">
      <i class="fa fa-sign-out"></i>
      <p>Log out</p>
    </a>
  </header>

  <!-- De mobiele header -->
  <header class="mobile">
    <a routerLink="/check" class="logo">
      <img src="./../assets/images/icon-small-svg.svg" alt="Smart Trashcan" width="50">
    </a>

    <p class="sub-title">
      webshop checker admin
    </p>

    <a class="menu" (click)="openNavigation()">
      <p>menu</p>
      <i class="fa fa-bars" aria-hidden="true"></i>
    </a>
  </header>
</div>

<!-- De achtergrond voor het mobiele menu -->
<div class="menuOverlay" [class.opened]="opened" (click)="closeNavigation()"></div>

<!-- De sidebar die in beeld komt als het menu geopend wordt in mobiele weergave -->
<div class="sidenav" [class.opened]="opened">
  <a class="close-menu" (click)="closeNavigation()">
    <i class="fa fa-times" aria-hidden="true"></i>
    <p>Close menu</p>
  </a>

  <div class="menu">
    <a class="menu-item" routerLink="/dashboard" routerLinkActive="active">
      <span class="menu-item-content">
        <i class="fa fa-area-chart"></i>
        <span class="menu-button-text">Dashboard</span>
      </span>
    </a>

    <a class="menu-item" routerLink="/check" routerLinkActive="active">
      <span class="menu-item-content">
        <i class="fa fa-check-circle"></i>
        <span class="menu-button-text">Check Website</span>
      </span>
    </a>

    <a class="menu-item" routerLink="/addwebshop" routerLinkActive="active">
      <span class="menu-item-content">
        <i class="fa fa-plus-square"></i>
        <span class="menu-button-text">Add Trusted Webshop</span>
      </span>
    </a>
  </div>
</div>
